@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Minion Pro;
	src: url('./fonts/MinionPro-Regular.otf');
}
@font-face {
	font-family: Verdana;
	src: url('./fonts/verdana.ttf');
}

* {
	font-family: Roboto; 
	user-select: none;
}

#root {
	height: 100vh;
}

#library-search-input input {
	width: 90%;
}
